@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared style here */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}


/* main style here */
.container {
    max-width: 1600px;
    margin: 0 auto;
}
.sub-container {
    max-width: 1360px;
    margin: 0 auto;
}

header nav {
    max-width: 1360px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 92px;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

nav ul a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

header .hero {
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    height: 674px;
    display: grid;
    place-items: center;
}

header .hero-container {
    max-width: 1360px;
    height: 379px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .radio {
    background-color: #ffffff;
    width: 229px;
    height: 35px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.hero .t-1 {
    margin-top: 16px;
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
}

.hero .t-2 {
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
}

.hero p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin: 16px 0 32px 0;
}

.sub-container  .head {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-top: 50px;
}
.sub-container .p{
    text-align: center;
    color: #627382;
    font-size: 16px;
    margin-top: 16px;
}

.sub-container .card{
width: 322px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 16;
padding: 24px;
border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: #ffffff;
}

.sub-container .card .image {
    background-color:#F95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.sub-container .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}

.card-box .card h5{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px 0;
}
.card-box .card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}



